.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.App div div p {
  margin: 0 4px;
}
.feed-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}
